<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.skgasutils.mapper.CommonMapper">

    <select id="getEvuEmpList" resultType="EvuEmp" parameterType="String">
        SELECT *
        FROM EVU_EMP
        WHERE EVU_STD_ID = #{evuStdId}
    </select>

    <select id="getEvuMngList" resultType="EvuMng">
        select *
        from EVU_MNG
    </select>

    <select id="getEvuCdp" resultType="EvuCdp" parameterType="String">
        select *
        from EVU_CDP
        where EVU_STD_ID=#{evuStdId}
    </select>

    <select id="getEvuEmpCdp" resultType="EvuEmpCdp">
        select *
        from EVU_EMP_CDP
    </select>







</mapper>