<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.skgasutils.mapper.CommonMapper">

    <select id="getEvuEmpList" resultType="EvuEmp" parameterType="String">
        SELECT *
        FROM EVU_EMP
        WHERE EVU_STD_ID = #{evuStdId}
    </select>

    <!-- 피평가자 검색 -->
    <select id="getEvuEmpCount" resultType="int" parameterType="String">
        SELECT COUNT(*)
        FROM EVU_EMP
        WHERE EVU_EMP_ID = #{evuEmpId}
    </select>

    <select id="getEvuMngList" resultType="EvuMng">
        select *
        from EVU_MNG
    </select>

    <select id="getEvuCdp" resultType="EvuCdp" parameterType="String">
        select *
        from EVU_CDP
        where EVU_STD_ID=#{evuStdId}
    </select>

    <select id="getEvuCdpCount" resultType="EvuCdp" parameterType="hashmap">
        SELECT *
        FROM EVU_CDP
        WHERE EVU_STD_ID = #{evuStdId} and CDP_NM like #{cdpNm}
    </select>



    <select id="getEvuEmpCdp" resultType="EvuEmpCdp">
        select *
        from EVU_EMP_CDP
    </select>

    <select id="getEmpCdpList" resultType="EvuEmpCdp" parameterType="String">
        select *
        from evu_emp ee
        inner join EVU_EMP_CDP eec on (ee.EVU_EMP_NO = eec.EVU_EMP_NO)
        where ee.EVU_STD_ID=#{evuStdId}
    </select>

    <!-- EvuEmpCdp check count-->
    <select id="getEvuEmpCdpCount" resultType="int" parameterType="hashmap">
        SELECT COUNT(*)
        FROM EVU_EMP_CDP
        WHERE EVU_STD_ID =#{evuStdId} and EVU_EMP_NO =#{evuEmpNo}
    </select>

    <!-- 지정 평가자 가져오기 -->
    <select id="getMngList" resultType="EvuMng">
        SELECT
            A.EVU_MNG_SEQ,
            A.EVU_MNG_ID,
            A.EVU_EMP_NO,
            A.CHASU,
            B.EMP_NM AS evuMngNm
        FROM EVU_MNG A
                 LEFT JOIN [USER] B
        ON(A.EVU_MNG_ID = B.EMP_ID)
        WHERE chasu = 1
        ORDER BY A.CHASU
    </select>

    <!-- CDP 직무 별 역량 평가 항목 관리 -->
    <select id="getEvuCdpComp" parameterType="String" resultType="EvuCdpComp">
        SELECT *
        FROM EVU_CDP_COMP
        WHERE EVU_STD_ID = #{evuStdId}
    </select>

    <!-- user 인사db 확인  -->
    <select id="getUserInfo" parameterType="String" resultType="int">
        SELECT count(*)
        FROM [USER]
        WHERE EMP_ID = #{empId}
    </select>

    <select id="getUserList" resultType="User">
        SELECT *
        FROM [USER]
    </select>




</mapper>