<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.skgasutils.mapper.ExcelUploadMapper">

    <!-- excel emp upload -->
    <insert id="insertEvuEmpId" parameterType="list">
        INSERT INTO EVU_EMP(EVU_STD_ID, EVU_EMP_ID, CUR_STEP_CD, EVU_STAT_CD, CHASU, EVU2_YN, CDP_CD, INS_USER_ID, INS_YMDHMS)
        VALUES
        <foreach collection="totalEmpList" item="emp" index="hashmap" separator=",">
            (#{emp.evuStdId}, #{emp.evuEmpId}, #{emp.curStepCd}, #{emp.evuStatCd}, #{emp.chasu}, #{emp.evu2Yn}, #{emp.cdpCd}, #{emp.insUserId}, GETDATE())
        </foreach>
    </insert>




</mapper>