<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.skgasutils.mapper.ExcelDownloadMapper">

    <select id="selectEvuTotDiff" resultType="EvuTotDiffVo" parameterType="hashmap">
        select
            EMP_ID ,
            EMP_NM ,
            c.TOT_GRD_3Q,
            c.TOT_CFM_GRD_3Q
        from [USER] u
            inner join EVU_EMP as b on u.EMP_ID = b.EVU_EMP_ID
            inner join EVU_TOT as c on c.EVU_EMP_NO = b.EVU_EMP_NO
        where c.EVU_TYPE =#{evuType} and c.TOT_GRD_3Q != c.TOT_CFM_GRD_3Q and b.EVU_STD_ID =#{evuStdId}

    </select>

    <select id="selectEndOfYearStandard" resultType="EvuTotStandVo" parameterType="String" fetchSize="100">
        SELECT
            EE.EVU_STD_ID,
            U.POST_CD,
            U.EMP_ID,
            U.EMP_NM,
            U.POST_NM,
            EC.CDP_NM,
            EC.CDP_CD,
            ECC.PRIORITY,
            ECD.CUSTOM_YN,
            ECC1.CATE_NM as cateNm1,
            ECC2.CATE_NM as cateNm2,
            ECD.COMP_TITLE,
            ECD.DEFINE_CD,
            ECO.MNG1_SCORE_1Q,
            ECO.MNG1_AF_SCORE_1Q,
            ECO.MNG1_SCORE_2Q ,
            ECO.MNG1_AF_SCORE_2Q ,
            ECO.MNG1_SCORE_3Q,
            ECO.MNG1_AF_SCORE_3Q
        FROM EVU_EMP EE
            INNER JOIN [USER] U ON (U.EMP_ID = EE.EVU_EMP_ID AND U.POST_CD NOT IN('GB1','GB2','GB3','GB4','GB5','GBS1'))
            LEFT JOIN EVU_EMP_CDP EEC ON (EEC.EVU_EMP_NO = EE.EVU_EMP_NO AND EE.CUR_STEP_CD = EEC.STEP_CD AND EEC.STEP_CD = 'D1')
            LEFT JOIN EVU_CDP EC  ON (EEC.CDP_CD = EC.CDP_CD AND EC.EVU_STD_ID = EE.EVU_STD_ID)
            LEFT JOIN EVU_COMP ECO ON (ECO.EVU_EMP_NO = EEC.EVU_EMP_NO AND ECO.EVU_STD_ID = EEC.EVU_STD_ID)
            LEFT JOIN EVU_CDP_COMP ECC ON (ECC.EVU_CDP_COMP_ID = ECO.EVU_CDP_COMP_ID AND ECC.EVU_STD_ID = EEC.EVU_STD_ID )
            LEFT JOIN EVU_COMP_DEFINE ECD ON (ECD.DEFINE_CD = ECC.DEFINE_CD)
            LEFT JOIN EVU_COMP_CATE ECC1 ON (ECC1.CATE_CD = ECD.CATE_CD1)
            LEFT JOIN EVU_COMP_CATE ECC2 ON (ECC2.CATE_CD = ECD.CATE_CD2)
            LEFT JOIN EVU_COMP_CATE ECC3 ON (ECC3.CATE_CD = ECD.CATE_CD3)
        WHERE EEC.EVU_STD_ID = #{evuStdId}
        ORDER BY U.EMP_ID;
    </select>

    <select id="selectEvuEmpInfoList" resultType="EvuEmpMngVo" parameterType="String">
        SELECT
            U.EMP_ID,
            U.EMP_NM,
            U.POST_NM,
            U.JG_NM,
            U.ORG_NM,
            EE.EVU2_YN,
            CONCAT(M1.EVU_MNG_ID , '/', (SELECT u.EMP_NM  FROM [USER] u where u.EMP_ID = M1.EVU_MNG_ID)) as evuMng1,
            CONCAT(M2.EVU_MNG_ID,'/',(SELECT u.EMP_NM  FROM [USER] u where u.EMP_ID = M2.EVU_MNG_ID)) as evuMng2,
            CONCAT(M3.EVU_MNG_ID , '/', (SELECT u.EMP_NM  FROM [USER] u where u.EMP_ID = M3.EVU_MNG_ID)) as evuMng3
        FROM EVU_EMP EE
                 INNER JOIN [USER] U ON (EE.EVU_EMP_ID = U.EMP_ID)
            LEFT JOIN EVU_MNG M1 ON (EE.EVU_EMP_NO = M1.EVU_EMP_NO AND M1.CHASU = 1)
            LEFT JOIN EVU_MNG M2 ON (EE.EVU_EMP_NO = M2.EVU_EMP_NO AND M2.CHASU = 2)
            LEFT JOIN EVU_MNG M3 ON (EE.EVU_EMP_NO = M3.EVU_EMP_NO AND M3.CHASU = 3)
        WHERE EE.EVU_STD_ID =#{evuStdId} AND M1.CHASU IS NOT NULL
        ORDER BY U.EMP_ID
    </select>

    <select id="selectTds1PersonInfo" resultType="EvuTds1Vo" parameterType="String">

        select
            ee.EVU_STD_ID,
            u.EMP_NM ,
            ee.EVU_EMP_NO,
            ee.EVU_EMP_ID,
            u.POST_NM,
            u.JOB_NM,
            es2.EVU_STAT_CD,
            et.TASK_NM,
            et.WT_SCORE,
            et.EXEC_PLAN,
            et.MNG1_ACHV_TEXT_1Q
        from EVU_EMP ee
                 inner join [USER] u on ee.EVU_EMP_ID = u.EMP_ID
            left join EVU_TASK et on et.EVU_EMP_NO = ee.EVU_EMP_NO and et.EVU_STD_ID  = ee.EVU_STD_ID
            left join EVU_STEP es on es.EVU_STEP_CD = ee.CUR_STEP_CD  and es.EVU_STD_ID = ee.EVU_STD_ID
            left join EVU_STAT es2 on es2.EVU_STEP_CD = ee.CUR_STEP_CD AND es2.EVU_STAT_CD  = ee.EVU_STAT_CD
        where ee.EVU_STD_ID = #{evuStdId}
    </select>













</mapper>